  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.main-text {
  text-align: center;
  padding: 20px 0;
}

.container {
  width: 320px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  text-align: right;
}

.rows {
  display: flex;
  justify-content: space-between;
}

.button {
  flex: 1;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2ea2ef;
  color: #fff;
}


.active{
  background-color: #000000;
    
}
#zero {
  flex: 3;
}

.button:hover {
  background-color: #217dbb;
}

.active:hover{
    background-color: #494646;
}